CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
CMakeLists.txt
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
cmake-build-*
*.pdf
*.out
*.zip
raport
!raport/*.tex

